/* CSS Document */

.icons:before { content: ""; display: inline-block; vertical-align: top; margin-right: 5px; }
.ioc-reg:before { background: url("../images/reg.png") no-repeat; background-size: 16px 16px; margin-top: 10px; width: 16px; height: 16px; }
.ioc-lreg:before { background: url("../images/reg.png") no-repeat; background-size: 32px 32px; margin-top: 22px; width: 32px; height: 32px; margin-right: 12px; }
.ioc-login:before { background: url("../images/login.png") no-repeat; background-size: 16px 16px; margin-top: 10px; width: 16px; height: 16px; }
.ioc-wanjimima:before { background: url("../images/wanjimima.png") no-repeat; background-size: 20px 20px; margin-top: 16px; width: 20px; height: 20px; }
.ioc-zhunque:before, .ioc-fenxian:before, .ioc-tixian:before, .ioc-liaojiewomen:before, .ioc-ruhejiaru:before, .ioc-jiaruwomen:before { margin-top: 3px; width: 20px; height: 20px; margin-right: 8px !important; }
.ioc-zhunque:before { background: url("../images/zhunque.png") no-repeat; background-size: 20px 20px; }
.ioc-fenxian:before { background: url("../images/fenxian.png") no-repeat; background-size: 20px 20px; }
.ioc-tixian:before { background: url("../images/tixian.png") no-repeat; background-size: 20px 20px; }
.ioc-liaojiewomen:before { background: url("../images/liaojiewomen.png") no-repeat; background-size: 20px 20px; }
.ioc-ruhejiaru:before { background: url("../images/ruhejiaru.png") no-repeat; background-size: 20px 20px; }
.ioc-jiaruwomen:before { background: url("../images/jiaruwomen.png") no-repeat; background-size: 20px 20px; }
.ioc-QQ:before { background: url("../images/QQ.png") no-repeat; background-size: 32px 32px; margin-top: 2px; width: 32px; height: 32px; margin-right: 12px; }
.ioc-mail:before { background: url("../images/mail.png") no-repeat; background-size: 32px 32px; margin-top: 2px; width: 32px; height: 32px; margin-right: 12px; }
.ioc-skype:before { background: url("../images/skype.png") no-repeat; background-size: 32px 32px; margin-top: 2px; width: 32px; height: 32px; margin-right: 12px; }
.icons-list { display: block; width: 80px; height: 80px; }
.icons-list-qq { background: url("../images/qq.png") center no-repeat; background-size: 80px auto; }
.icons-list-mail { background: url("../images/weixin.png") center no-repeat; background-size: 80px auto; }
.icons-list-skype { background: url("../images/skype.png") center no-repeat; background-size: 80px auto; }
.main-header { width: 100%; height: auto; background: #ffffff; }
.header-wrapper { width: 100%; min-height: 50px; padding: 10px 0; }
.container { width: 1170px; margin: 0 auto; }
.navbar-header { width: auto; height: 50px; float: left; display: inline-block; overflow: hidden; }
.navbar-header a.imgw { width: auto; height: 50px; display: inline-block; float: left; }
.navbar-header a.imgw img { width: auto; height: 50px; }
.navbar-header .rtit { display: inline-block; float: left; margin-left: 12px; line-height: 22px; font-size: 22px; color: #333333; margin-top: 28px; }
.loginw { display: inline-block; float: right; height: 60px; }
.loginw a.logins { display: inline-block; padding: 0 10px; background: #e52522; color: #ffffff; border: 1px solid #e52522; border-radius: 4px; font-size: 14px; margin-top: 8px; float: left; height: 34px; line-height: 34px; }
.loginw a.topass { display: inline-block; float: left; }
.loginw a.logins:hover { background: #cc1412; border: 1px solid #8f0b07; }
.loginw a.regs { display: inline-block; padding: 0 12px; background: #ffd100; color: #000000; border: 1px solid #ffd100; border-radius: 4px; font-size: 14px; margin-top: 8px; float: left; height: 34px; line-height: 34px; }
.loginw a.regs:hover { background: #e59700; border: 1px solid #cf8e0f; }
.ipnw { display: inline-block; float: left; height: 34px; margin-top: 8px; }
.ipnw .inputs { border-radius: 4px; background: #f5f5f5; border: 1px solid #dddddd; height: 34px; line-height: 34px; padding: 0 12px; outline: none; width: 100px; }
.ipnw .inputs:focus { border-radius: 4px; background: #ffffff; border: 1px solid #e52522; height: 34px; line-height: 34px; padding: 0 12px; }
.wjpass { line-height: 50px; }
.ipnw input.user { background: url("../images/login_inp.png") #f5f5f5 no-repeat; background-size: 16px; padding-left: 28px; background-position: 6px 9px; }
.ipnw input.pass { background: url("../images/pass.png") #f5f5f5 no-repeat; background-size: 16px; padding-left: 28px; background-position: 6px 9px; }
.ipnw input.user:focus { background: url("../images/login_inp.png") #ffffff no-repeat; background-size: 16px; padding-left: 28px; background-position: 6px 9px; }
.ipnw input.pass:focus { background: url("../images/pass.png") #ffffff no-repeat; background-size: 16px; padding-left: 28px; background-position: 6px 9px; }
.ipnw input.yzmimg { width: 50px !important; padding-right: 62px !important; }
.header-wrapper .yzm img { display: block; width: 52px; height: 20px; position: absolute; top: 8px; right: 6px; }
.main-nav { width: 100%; height: 60px; line-height: 60px; background: #4a4535; }
.main-nav .navw { width: 1170px; height: 60px; margin: 0 auto; }
.main-nav .navw .navs { width: 1170px; }
.main-nav .navw li { display: inline-block; float: left; width: 163px; position: relative; }
.main-nav .navw li .lfgx { width: 1px; height: 60px; position: absolute; left: 0; top: 0; background: #b4ac91; display: block; }
.main-nav .navw li .rfgx { width: 1px; height: 60px; position: absolute; right: 0; top: 0; background: #b4ac91; display: block; }
.main-nav .navw li a { font-size: 14px; text-align: center; color: #fff0f0; display: block; text-indent: 1px; }
.main-nav .navw li a:hover, .main-nav .navw li a.active { background: #b97901; color: #ffffff; }
.ml-1 { margin-left: -1px; }
.links { padding: 8px; background-color: #52b529; margin: 5px; -webkit-transition: all 1s; -o-transition: all 1s; transition: all 1s; }
.links a { color: #fff; display: inline-block; width: 100%; height: 100%; text-decoration: none; }
.links:hover { background-color: #1e824c; }
.current { background-color: #22a7f0; }
.f14 { font-size: 14px; }
.bannerw { width: 1170px; margin: 0 auto; position: relative; height: auto; z-index: 1000; display: block; }
.txtScroll-top { overflow: hidden; position: absolute; left: auto; right: 30px; top: 29px; width: 350px; height: 449px; overflow: hidden; background: rgba(185,121,1,.85); border: 1px solid #b97901; color: #F9D5D6; }
.txtScroll-top .tits { width: 100%; height: 49px; line-height: 49px; font-size: 22px; font-weight: 700; text-align: center; color: #ffffff; border-bottom: 1px solid #b97901; background: #b97901; }
.txtScroll-top .tdlsum { width: 350px; height: 48px; padding: 0 10px; box-sizing: border-box; line-height: 48px; font-family: 'å¾®è½¯é›…é»‘'; text-align: center; border-top: 1px solid rgba(243,116,118,.3); color: #ffffff; font-size: 14px; }
.txtScroll-top .tdlsum-b { width: 350px; height: 44px; padding: 0 10px; box-sizing: border-box; line-height: 44px; font-family: 'å¾®è½¯é›…é»‘'; text-align: center; border-top: 1px solid rgba(243,116,118,.3); background: rgba(255,209,0,.7); color: #ffffff; }
.txtScroll-top .tdlsum-b img { }
.txtScroll-top .bd { }
.txtScroll-top .bd .tempWrap { height: 263px !important; }
.txtScroll-top .infoList li { height: 43px; line-height: 43px; border-bottom: 1px solid rgba(243,116,118,.3); padding: 0 10px; }
.txtScroll-top .infoList li .date { float: right; color: #999; }
.phuserid { width: 80px; height: 43px; display: inline-block; overflow: hidden; }
.txtScroll-top .infoList li .phusersum, .txtScroll-top .Scrollth span.phusersum { width: 40px; height: 43px; display: inline-block; overflow: hidden; color: #ffffff; }
.txtScroll-top .no1 { background-image: url("../images/no1.png"); background-repeat: no-repeat; background-size: 30px 30px; background-position: 0px center; }
.txtScroll-top .no2 { background-image: url("../images/no2.png"); background-repeat: no-repeat; background-size: 30px 30px; background-position: 0px center; }
.txtScroll-top .no3 { background-image: url("../images/no3.png"); background-repeat: no-repeat; background-size: 30px 30px; background-position: 0px center; }
.txtScroll-top .noall .noalls { display: block; width: 21px; height: 21px; text-align: center; line-height: 21px; border-radius: 50%; background: #fb9900; color: #fff; margin: 11px 0 0 4px; }
.txtScroll-top .ioc-id:before { background: url("../images/login.png") no-repeat; background-size: 16px 16px; margin-top: 13px; width: 16px; height: 16px; }
.txtScroll-top .ioc-ifandian:before { background: url("../images/ifandian.png") no-repeat; background-size: 16px 16px; margin-top: 13px; width: 16px; height: 16px; }
.txtScroll-top .ioc-iyitixian:before { background: url("../images/iyitixian.png") no-repeat; background-size: 52px auto; margin-top: -6px; margin-right: 0px !important; width: 54px; height: 38px; }
.txtScroll-top .ifengexian { width: 1px; height: 14px; position: absolute; right: 5px; top: 14.5px; display: block; background: rgba(243,116,118,.7); }
.txtScroll-top .Scrollth { height: 43px; line-height: 43px; border-bottom: 1px solid rgba(243,116,118,.3); padding: 0 10px; }
.fwb { font-weight: 800 !important; }
.fff { color: #ffffff !important; }
.phusercas, .phusercas-2, .phuserid, .phusersum { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.phusercas, .phuserid, .phusersum { padding-right: 11px; }
.phusercas { width: 94px; height: 43px; display: inline-block; overflow: hidden; font-weight: 800; color: white; }
.phusercas-2 { width: 66px; height: 43px; display: inline-block; overflow: hidden; }
.blo { font-weight: 800; padding: 0 10px; background: #ffffff; display: inline-block; height: 30px; line-height: 30px; color: #F5DF0F; border-radius: 5px; margin: 0 6px; font-size: 18px; }
.swiper-container { width: 100%; height: 508px; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px; }
.swiper-slide { text-align: center; font-size: 18px; background: #fff; /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.banner { width: 100%; height: 508px; }
.arrleft { width: 40px; height: 40px; background: url("../images/arrleft.png") no-repeat; background-size: 40px 40px; position: absolute; left: 20px; top: 50%; margin-top: -20px; z-index: 10; opacity: .55; cursor: pointer; }
.arrright { width: 40px; height: 40px; background: url("../images/arrright.png") no-repeat; background-size: 40px 40px; position: absolute; right: 20px; top: 50%; margin-top: -20px; z-index: 10; opacity: .55; cursor: pointer; }
.contw { width: 1170px; height: auto; margin: 0 auto; }
.tlists { width: 1170px; height: auto; margin: 25px auto; }
.contw .tlists ul { width: 1184px; }
.contw .tlists li { width: 282px; margin: 0 14px 0 0; height: 188px; float: left; display: inline; padding: 10px 0; transition: all .3s ease-in-out; position: relative; background: url("../images/zdltoplist_1_bg.jpg") no-repeat center; background-size: 100% auto;}
.contw .tlists li:hover {background: url("../images/zdltoplist_1_bgHover.jpg") no-repeat center; background-size: 100% auto; }
.contw .tlists li .tsums { padding: 0 16px; background: #e5e5e5; font-size: 16px; height: 26px; line-height: 26px; position: absolute; left: -1px; top: -1px; z-index: 10; color: #666666; border-radius: 0 0 40% 0; font-weight: 500; }
.contw li .info-title { margin: 10px auto; padding: 0; font-weight: 700; color: #373d41; text-align: center; font-size: 18px; }
.contw li .icon_d1 { width: 64px; height: 64px; overflow: hidden; margin: 0px auto; background: url("../images/regd.png") no-repeat; background-size: 64px 64px; }
.contw li .icon_d2 { width: 64px; height: 64px; overflow: hidden; margin: 0px auto; background: url("../images/xianxiagoucai.png") no-repeat; background-size: 64px 64px; }
.contw li .icon_d3 { width: 64px; height: 64px; overflow: hidden; margin: 0px auto; background: url("../images/xiaoshoufandian.png") no-repeat; background-size: 64px auto; background-position: 0 6px; }
.contw li .icon_d4 { width: 64px; height: 64px; overflow: hidden; margin: 0px auto; background: url("../images/yongjintixian.png") no-repeat; background-size: 64px auto; background-position: 0 6px; }
.contw .tlists li p { margin: 0; font-size: 13px; line-height: 22px; text-align: left; padding: 6px 12px; color: #666666; height: 74px; }
.contw .tlists li:hover p { color: #000000; }
.banner a.bannercentw { display: block; width: 100%; height: 508px; }
.banner a.banner1 { background: url("../images/banner-zdl-1-web.jpg") no-repeat center; }
.banner a.banner2 { background: url("../images/banner-2-zdl.jpg") no-repeat center; }
.hezuow { width: 1168px; height: auto; border: 1px solid #eeeeee; margin-top: 30px; background: #ffffff; }
.hezuowtits { font-size: 24px; color: #373d41; text-align: center; margin: 30px auto; width: 1170px; font-weight: normal; }
.hezuow .hezuow_img { width: 100%; height: auto; margin: 20px 0; position: relative; }
.hezuow .hezuow_img .ltit { width: 135px; height: 30px; line-height: 30px; font-size: 14px; color: #333333; position: absolute; z-index: 10; text-align: center; font-weight: 700; }
.hezuow .hezuow_img .ltit1 { top: 118px; left: 20px; }
.hezuow .hezuow_img .ltit2 { top: 118px; left: 185px; }
.hezuow .hezuow_img .ltit3 { top: 118px; left: 350px; }
.hezuow .hezuow_img .ltit4 { top: 118px; left: 519px; }
.hezuow .hezuow_img .ltit5 { top: 118px; left: 680px; }
.hezuow .hezuow_img .ltit6 { top: 118px; left: 843px; }
.hezuow .hezuow_img .ltit7 { top: 118px; left: 1005px; }
/**/
.ft_box { padding: 32px 0; line-height: 18px; font-size: 12px; background: #ffffff; border-top: 1px solid #eeeeee; }
.mt30 { margin-top: 30px; }
.mt20 { margin-top: 20px; }
.mt10 { margin-top: 10px; }
.container_22 { margin-left: auto; margin-right: auto; width: 1170px; }
.container_22 .grid_22 { width: 1170px; display: inline; float: left; }
table td strong { font-size: 14px; }
table { }
.ft_box td { border-right: 1px solid #e5e5e5; }
.brand_1 { background-position: 0 0; }
.brand_2 { background-position: -40px 0 !important; }
.brand_3 { background-position: -80px 0 !important; }
.brand_4 { background-position: -120px 0 !important; }
.brand_5 { background-position: -160px 0 !important; }
.brand_1, .brand_2, .brand_3, .brand_4, .brand_5 { display: inline-block; width: 40px; height: 40px; vertical-align: middle; background: url("../images/fotico.png") no-repeat; background-size: 200px auto; }
.c666 { color: #666; }
.c999 { color: #999; }
.f12 { font-size: 12px !important; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.grid_22 p { margin: 6px auto; }
.footer a { color: #ffffff; }
.footer { text-align: center; background-color: #4a4535; padding: 20px 0 30px; color: #fff; line-height: 30px; font-size: 12px; }
.companyNav { color: #fff; }
.securityCell { zoom: 1; text-align: center; padding: 9px 0 0 0; }
.securityCell a { background-image: url("../images/head_footBg.png"); background-repeat: no-repeat; }
.securityCell a { display: inline-block; vertical-align: middle; width: 108px; height: 45px; margin: 0 5px; overflow: hidden; }
.securityA { background-position: 0 0 }
.securityB { background-position: -121px 0 }
.securityC { background-position: 0 -50px }
.securityD { background-position: -121px -50px }
.securityE { background-position: 0 -100px }
.securityF { background-position: -121px -100px }
.securityG { background-position: 0 -150px }
.securityH { background-position: -121px -150px }
.securityI { background-position: 0 -200px }
.securityI img { display: none }
.footer .zhuyi { width: 442px; height: 38px; padding-left: 36px; line-height: 38px; background: url("../images/zhuyi.png") no-repeat; text-align: left; margin: 12px auto; }
/*listtxt*/
.br-1 { border-right: 1px solid #eeeeee; }
.ilistw2 { width: 1168px; margin: 30px auto; border: 1px solid #eeeeee; background: #ffffff; }
.ilistw2 .tits { font-size: 16px; margin-top: 12px; display: block; color: #e52522; font-weight: 800; }
.ilistw2 li { width: 348px; height: 228px; display: inline; float: left; padding: 10px 20px; }
.ilistw2 li p { font-size: 14px; margin: 12px 0; color: #666666; }
.b-f4f4f4 { background: #f6f6f6; }
.ilistw { width: 1168px; margin: 30px auto; border: 1px solid #eeeeee; background: #ffffff; }
.ilistw .tits { font-size: 16px; margin-top: 12px; display: block; color: #e52522; font-weight: 800; }
.ilistw li { width: 348px; height: 102px; display: inline; float: left; padding: 10px 20px; }
.ilistw li p { font-size: 14px; margin: 12px 0; color: #666666; }
.ilistw2 li .imgs img, .ilistw li .imgs img { width: 100%; }
.b-ffffff { background: #ffffff; }
/*list*/
.reglistw { min-height: 394px; width: 1000px; margin: 30px auto; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background: #ffffff; }
.reglistw input[name="password"] { padding-right: 40px; }
.passmail-title { height: 76px; line-height: 76px; font-size: 24px; text-align: center; font-weight: normal; border-top-left-radius: 4px; border-top-right-radius: 4px; background: #dddddd; color: #000000; }
.passlist { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; padding: 40px 0 40px; border-top: none; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.passlistedit { width: 100%; margin: 0 auto; }
.passlistedit .linput { transition: 0.4s linear; width: 300px; height: 36px; padding-left: 20px; padding-right: 20px; color: #666666; font-size: 14px; border: 1px solid #eeeeee; background: #ffffff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; outline: none; }
.passlistedit .linput:focus { background: #f5f5f5; border: 1px solid #dddddd; }
.reglistw table.regtab { width: 900px !important; margin: 0 auto !important; font-size: 14px; }
.reglistw table.regtab td { margin: 6px 0; }
.reglistw .regtab tr td.l1 { width: 286px; text-align: right; line-height: 36px; }
.reglistw .regtab tr td.l2 { width: 300px; }
.reglistw .regtab tr td.l3 { width: 324px; text-align: left; color: #999999; }
a.regbut { display: inline-block; width: 300px; text-align: center; padding: 6px 0; background: #e52522; color: #ffffff; border: 1px solid #e52522; border-radius: 4px; font-size: 16px; float: left; height: 34px; line-height: 34px; }
a.regbut:hover { background: #cc1412; border: 1px solid #8f0b07; }
.f14 { font-size: 14px; }
/**/
.txtcengtw { width: 1170px; margin: 30px auto; background: #ffffff; border-radius: 5px; overflow: hidden; min-height: 500px; }
.middle-title-wrap { width: 100%; line-height: 65px; padding: 0 30px; background: #fff; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-bottom: 1px solid #eee; height: 65px; }
.middle-title-wrap .middle-title { font-size: 18px; height: 65px; color: #444; display: inline-block; vertical-align: middle; zoom: 1; line-height: 65px; font-weight: 500; margin: 0; }
.txtcengtw .conttxts { margin: 30px 30px 0; text-align: center; }
.txtcengtw .conttxts h4 { width: 100%; height: 26px; color: #444; display: inline-block; vertical-align: middle; zoom: 1; line-height: 26px; margin: 0px 0 5px 0; font-size: 16px; text-align: left; font-weight: 600; }
.txtcengtw .conttxts p { text-align: left; font-size: 14px; color: #444444; margin-bottom: 28px; line-height: 34px; margin-top: 0; }
.b-1-eee { border-bottom: 1px solid #eee; }
.f-hzd { color: #D89B01 !important; }
.f-hzdh { color: #cc1412 !important; }
.txtcengtw .conttxts p.nom { margin: 0; }
.txtcengtw .conttxts p.lists { padding-left: 16px; background: url("../images/arrright-heise.png") 0 13px no-repeat; background-size: 8px auto; }
.abouttab { width: 100%;border-collapse: collapse; color: #cd0406}
.abouttab td  { padding: 12px 10px;  font-size: 14px; text-align: center;border: 1px #cd0406 solid }
.abouttab th  { padding: 12px 10px;  font-size: 14px; text-align: center; border: 1px #cd0406 solid;color: white;font-size: 16px;background: #cd0406}
.f18 { font-size: 16px !important; font-weight: 600 !important; margin-bottom: 0px !important; color: #000000; }
.f000 { color: #000000; }
.fhuangse { color: #FDB500; }
.fhongse { color: #E80003; }
.xiaosoufandianwtits { padding: 0px 0 30px 0;/* background: url("http://www.hjjtjm.com/images/cbgt1.jpg") no-repeat bottom center; background-size:100% auto;*/}
.xiaosoufandianwtits .tits { font-size: 24px; font-weight: 600; color: #e52522; margin: 0 auto; width: 400px; text-align: center; height: 80px; line-height: 86px; border-radius: 10px; background: url("http://www.hjjtjm.com/images/btbiank_1.gif") no-repeat center; background-size: auto 100%; }
.xiaosoufandianwtits .ctit { font-size: 16px; text-align: center; color: #666666; }
.fandianfanan { width: 1170px; font-size: 14px;}
.fandianfanan p { padding: 10px 0px 0; }
.lxewm { width: 80px; height: 80px; border: 1px solid #dddddd; position: absolute; right: 40px; top: -1px; z-index: 100; }
/*ç»“æž„*/
.jgt-wrapp {
	width:100%; margin: 0 auto;
}
.jgt-wrapp .bor-cont:before {
	content: "";
	display: block;
	position: absolute;
	height: inherit;
	width: 0px;
	border-left: 1px solid #e52522;
	margin-left: 49%;
	top:-67px;
}
.jgt-wrapp .bor-cont-t:before {
	content: "";
	display: block;
	position: absolute;
	height: inherit;
	width: 0px;
	border-left: 1px solid #e52522;
	margin-left: 49%;
	top: -29px;
}

.jgt-wrapp .bor-cm-l1:before {
	margin-left: 54.8%;
}
.jgt-wrapp .bor-cm-l2:before {
	margin-left: 50%;
}
.jgt-wrapp .bor-cm-l3:before {
	margin-left: 44.8%;
}

.jgt-wrapp .zd:before {
	height:67px;
}

.jgt-wrapp .zd-2:before {
	width:70% !important;
	height: 29px;
}
.jgt-wrapp .zd-3:before {
	width:70% !important;
	height: 30px;
}

.jgt-wrapp .cont-lr-jxs:before {
	width: 78% !important;
}

.jgt-wrapp .cont-lr:before {
	content: "";
	display: block;
	width: 90%;
	height: 38px;
	border-top: 1px solid #e52522;
	border-left: 1px solid #e52522;
	border-right: 1px solid #e52522;
	margin: 0 auto;
	top: 0px;
}

.jgt-wrapp .cont-lr-caiming:before {
	content: "";
	display: block;
	width: 90%;
	height: 28px;
	border-top: 1px solid #e52522;
	border-left: 1px solid #e52522;
	border-right: 1px solid #e52522;
	margin: 0 auto;
	top: 0px;
}

.jgt-wrapp .zdcent {
	width: 20%;
	height:auto;
	line-height:1.5;
	font-size: 14px;
	margin: 0 auto;
	background: #f3aa01;
	position: relative;
	color: #ffffff;
	border-radius:4px;
}
.jgt-wrapp ul {
	position: relative;
	width: 100%;
	display: block;
	clear: both;
	margin: 0 auto;
}
.jgt-wrapp ul .tits-l{
	position: absolute;
	width: 340px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #000000;
	left: 124px;
	top: 0;
}
.jgt-wrapp ul .tits-r{
	position: absolute;
	width: 340px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #000000;
	left: 497px;
	top: 0;
}
.jgt-wrapp ul li {
	height:auto;
	line-height: 1.5;
	font-size: 14px;
	margin: 0 auto;
	background: #f3aa01;
	position: relative;
	float: left;
	box-sizing: border-box;
	text-align: center;
	color: #ffffff;
	border-radius:4px;
}
.list-3{margin-right:5%;}
/*3åˆ—*/
.jgt-wrapp .jg-list-3-w{width:84%;}
.jgt-wrapp ul li.jg-list-3 {
	width: 22%;
}
.jgt-wrapp ul li.jg-list-3-mr {
	margin-right: 17%;
}
/*4åˆ—*/
.jgt-wrapp .jg-list-4-ww{width:100%;}
.jgt-wrapp .jg-list-4-l1{width:30%; position: relative;}
.jgt-wrapp .jg-list-4-l2{width:30%; position: relative;}
.jgt-wrapp .jg-list-4-l3{width:30%; position: relative;}
.jgt-wrapp .jg-list-4-w{width:100%;}
.jgt-wrapp ul li.jg-list-4 {
	width:9%;
}
.jgt-wrapp ul li.jg-list-4-mr {
	margin-right: 1.1%;
}

.jg-ztit{display: block; padding:0 8px; font-size: 24px; font-weight: 500; text-align: center;}
.jg-cont{display: block; padding:0 5px 5px 5px; font-size: 14px; font-weight: 500; text-align: center;}
.jg-cont-hy{display: block; padding: 0px 5px 5px; font-size: 14px; font-weight: 500; text-align: center;}

.fl{float:left; display: inline;}
.fr{float:right; display: inline;}
.mt-jg{margin-top:28px !important;}
.mt-36{margin-top: 36px !important;}
.jg-zxssico{width:50px; height: 50px; background: url("../images/jg-xiaoshoushang.png") no-repeat center; background-size: 50px auto; display: block; margin:0 auto;}
.jg-xssico{width:40px; height: 40px; background: url("../images/jg-xiaoshoushang-2.png") no-repeat center; background-size: 40px auto; display: block; margin:0 auto;}
.jg-cmico{width:20px; height: 20px; margin: 0 auto; background: url("../images/jg-caiming.png") no-repeat center; background-size: 20px auto; display: block; margin:0 auto;}
.jg-Topico{width:200px; height: 30px; background-size:100% auto; display: block; margin:-30px auto 0;}
.jiegou-bottomw{width:100%; border-left: 1px solid #e52522;border-right: 1px solid #e52522;border-bottom: 1px solid #e52522; height: 30px; position: relative; margin:10px auto 17px; box-sizing: border-box;}
.jiegou-bottomw .text{padding:5px 10px; background: #ffffff; color: #000000; font-weight: 600; font-size: 16px; position: absolute; left:50%; top:12px; margin-left: -171px;}
/*-----------------------------------------------------*/
.centmainw { width: 100%; overflow: hidden; min-width: 1000px; }
.centmainw .mcw { width: 1000px; margin: 0 auto; overflow: hidden; position: relative; }
.centmainw .mcw .shuaxin { display: block; position: absolute; right: 0; top: 0; width: 118px; height: 46px; line-height: 46px; color: #fae219; background: #da2a2f; text-align: center; font-size: 14px; }
.centmainw .mcw .tbtw { width: 100%; height: 17px; text-align: center; color: #333; font-size: 16px; line-height: 17px; margin: 28px auto 25px; }
.hclogo { width: 180px; height: 84px; margin: 20px auto 50px; background-size: 180px auto; }
.cont-bt { width: 996px; border-left: 4px solid #a31618; height: 20px; text-align: left; margin: 20px auto 16px; text-indent: 10px; color: #2b2b2b; font-size: 19px; font-weight: 800; }
.con1 { width: 978px; background-color: #ffffff; padding: 10px; margin-bottom: 10px; border: 1px solid #e8e8e8; margin: 0 auto 28px; overflow: hidden; }
.ulList { width: 960px; margin: 30px -44px 0 17px; }
.ulList li { float: left; width: 178px; height: 178px; position: relative; margin: 0 14px 23px 0; }
.ulList li a { display: block; width: 178px; height: 178px; text-align: center; color: #fff100; position: absolute; left: 0; top: 0; z-index: 999; }
.ulList li a .item { font-size: 30px; color: #ffffff; position: absolute; top: 46px; height: 40px; line-height: 40px; width: 178px; text-align: center; font-weight: 800; }
.ulList li a h6 { top: 96px; color: #ffffff; font-weight: normal; font-size: 14px; font-family: "Arial"; text-align: center; position: absolute; width: 178px; }
.ulList li a em { font-size: 14px; top: 117px; position: absolute; left: 0; width: 178px; text-align: center; color: #ffffff; font-style: normal; }
.ulList li .libg-1, .ulList li .libg-2, .ulList li .libg-3, .ulList li .libg-4, .ulList li .libg-5{ background-size: 178px auto; width: 178px; height: 178px; position: absolute; left: 0; top: 0; }
.ulList li .libg-1 { background: url("../images/line-box_01.png") no-repeat center top;}
.ulList li .libg-2 { background: url("../images/line-box_02.png") no-repeat center top;}
.ulList li .libg-3 { background: url("../images/line-box_03.png") no-repeat center top;}
.ulList li .libg-4 { background: url("../images/line-box_04.png") no-repeat center top;}
.ulList li .libg-5 { background: url("../images/line-box_05.png") no-repeat center top;}
.ulList li a:hover { background: url("../images/line-box-h.png") no-repeat center top; background-size: 178px auto; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

.appdmw { width: 1000px; height: 213px; background-size: 6px 6px; border: 1px solid #eeeeee; margin: 0 auto 28px; }
.appdmw .appcw { width: 1000px; height: 213px; background: url("../images/appdm_12.jpg") no-repeat; background-size: 1000px auto; position: relative; margin: 0 auto; }
.appdmw .appcw .ios { width: 110px; height: 110px; position: absolute; left: 659px; top: 88px; }
.appdmw .appcw .Android { width: 110px; height: 110px; position: absolute; left:827px; top: 88px}