﻿/* CSS Document */
html {
	-webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
body {
	margin: 0;
	font:14px/1.5 "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #333333;  
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	-moz-font-feature-settings: "liga","kern";
}
html,body{min-width:1170px; background:#f6f6f6;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block;
}
table {
	/*border-collapse: collapse;*/
	/*border-spacing: 0;*/
}
td,th {
	padding: 0;
}
ul,ol,li,dl,dd {
	margin: 0;
	padding: 0;
}
ul,ol {
	list-style: none outside none;
}
a {
	color: #666666;   /*黑蓝色*/
	outline: medium none;
	text-decoration: none;
	background: transparent;
	star:expression(this.onFocus=this.blur());
	transition: all 0.2s ease-in-out;
}
a:hover {
	color: #000000;   /*浅蓝色*/
}
figure {
  margin: 0;
}
img {
	border: 0;
	vertical-align: middle;
}
b,strong {
	/*font-weight: normal;*/
}
i, cite, em, var, address, dfn {
	font-style: normal;
}

abbr[title],
abbr[data-original-title] {          /*标记缩写*/
	cursor: help;
	border-bottom: 1px dotted;
}
mark {                /*高亮文本*/
	background: #ff0;
	color: #000;
}
small {               /*标记小字*/
	font-size: 80%;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

button,input,optgroup,select,textarea {
	margin: 0;
	color: inherit;
	font: inherit;
}

button {
	overflow: visible;
}

button,select {
	text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

button[disabled],html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
input{margin:0; padding:0;outline:none;}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input::-ms-clear {
    display: none;
}

input[type="checkbox"],input[type="radio"] {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	margin: 0 2px;
	padding: .35em .625em .75em;
	border: 1px solid #c0c0c0;
}

legend {
	padding: 0;
	border: 0;
}

textarea {
	overflow: hidden;
	resize: none;
}

optgroup {
	font-weight: bold;
}

input::-moz-placeholder,textarea::-moz-placeholder {
	color: #bdc3c7;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #bdc3c7;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #bdc3c7;
}

object { outline: none;}

.fudong-top{ position:relative;}

/* 清除浮动 */
.cl:before, .cl:after{ content:" "; display: table }
.cl:after { clear: both }
.cl { *zoom: 1 }

.mrn{margin-right:5px;}
.mrm{margin-right:10px;}
.mrw{margin-right:20px;}
#yzm,#submit,#login_submit,#register_submit{cursor: pointer;}