/* CSS Document */

.icons:before { content: ""; display: inline-block; vertical-align: top; margin-right: 5px; }
.ioc-zhunque:before, .ioc-fenxian:before, .ioc-tixian:before { margin-top: .07rem; width: .4rem; height: .4rem; margin-right: .15rem !important; }
.ioc-zhunque:before { background: url("../images/zhunque.png") no-repeat; background-size: auto 100%; }
.ioc-fenxian:before { background: url("../images/fenxian.png") no-repeat; background-size: auto 100%; }
.ioc-tixian:before { background: url("../images/tixian.png") no-repeat; background-size: auto 100%; }
.bgfff { background: #ffffff; }
.index_content { width: 100%; }
.header { height: 1rem; padding: 0 .2rem; position: relative; background: #4a4535; }
.header h1 { float: left; height: .5rem; margin-top: .25rem; margin-bottom: 0; }
.header h1 img { vertical-align: top; height: .5rem; width: auto; }
.banner a.bannercentw { display: block; width: 100%; height: 4rem; }
.banner a.banner1 { background: url("../images/banner-1-zdl-wap.jpg") no-repeat center; background-size: auto 100%; }
.banner a.banner2 { background: url("../images/banner-2-zdl-wap.jpg") no-repeat center; background-size: auto 100%; }
.nav_box .nav_ul { width: 10rem; }
.nav_ul li { width: 2rem; text-align: center; position: relative; display: inline; float: left; padding: .25rem 0 .25rem; }
.nav_ul li a { display: block; color: #000000; font-size: .35rem; border-right: .02rem solid #dddddd; position: relative; padding: .15rem 0 .2rem; }
.nav_ul li .menu_name { display: block; padding-top: 0rem; margin-top: -.12rem; }
.nav_ul li .menu_icon { display: inline-block; width: .85rem; height: .75rem; }
.menu_icon_1 { background: url("../images/Mshouye.png") no-repeat center; background-size: .6rem auto; }
.menu_icon_2 { background: url("../images/Mguanyuwomen.png") no-repeat center; background-size: .92rem auto; }
.menu_icon_3 { background: url("../images/Mhezuo.png") no-repeat center; background-size: .72rem auto; }
.menu_icon_4 { background: url("../images/Myongjin.png") no-repeat center; background-size: .7rem auto; }
.menu_icon_5 { background: url("../images/Mzhuchi.png") no-repeat center; background-size: .6rem auto; }
.menu_icon_6 { background: url("../images/Mlianxiwomen.png") no-repeat center; background-size: .65rem auto; }
.menu_icon_1_Hover { background: url("../images/MshouyeHover.png") no-repeat center; background-size: .6rem auto; }
.menu_icon_2_Hover { background: url("../images/MguanyuwomenHover.png") no-repeat center; background-size: .92rem auto; }
.menu_icon_3_Hover { background: url("../images/MhezuoHover.png") no-repeat center; background-size: .72rem auto; }
.menu_icon_4_Hover { background: url("../images/MyongjinHover.png") no-repeat center; background-size: .7rem auto; }
.menu_icon_5_Hover { background: url("../images/MzhuchiHover.png") no-repeat center; background-size: .6rem auto; }
.menu_icon_6_Hover { background: url("../images/MlianxiwomenHover.png") no-repeat center; background-size: .65rem auto; }
.section { padding: .25rem 0 .25rem 0; margin-top: .25rem; border-top: .02rem solid #e5e5e5; border-bottom: .02rem solid #dddddd; }
.section .cbs_title { padding: 0 .25rem .2rem; margin-left: .25rem; }
.section .cbs_title { padding-left: .3rem; font-size: .45rem; }
.f000 { color: #000000; }
.fhuangse { color: #FDB500; }
.fhongse { color: #E80003; }
.fwb { font-weight: 800; }
.con_h:after { content: ''; display: block; width: .08rem; border-radius: .08rem; height: .46rem; background: #333; margin-top: -.53rem; margin-left: -.24rem; }
.b-1-r-e5e5e5 { border-right: .02rem solid #e5e5e5; }
.b-1-b-e5e5e5 { border-bottom: .02rem solid #e5e5e5; }
.b-1-t-e5e5e5 { border-top: .02rem solid #e5e5e5; }
.Mlist1 li { width: 4.5rem; height: 4.7rem; padding: .25rem; display: inline; float: left; position: relative; }
.Yxixian { width: .02rem; height: 5.2rem; background: #e5e5e5; position: absolute; top: 0; right: 0; }
.b-1-e5e5e5 { border-bottom: .02rem solid #ddd; }
.Mlist1 li .icon_d1, .Mlist1 li .icon_d2, .Mlist1 li .icon_d3, .Mlist1 li .icon_d4 { width: 2rem; height: 1rem; margin: 0 auto; }
.Mlist1 li .icon_d1 { background: url("../images/regd.png") no-repeat center; background-size: auto 100%; }
.Mlist1 li .icon_d2 { background: url("../images/xianxiagoucai.png") no-repeat center; background-size: auto 100%; }
.Mlist1 li .icon_d3 { background: url("../images/xiaoshoufandian.png") no-repeat center; background-size: auto 100%; }
.Mlist1 li .icon_d4 { background: url("../images/yongjintixian.png") no-repeat center; background-size: auto 100%; }
.Mlist1 li .info-title { padding: 0.2rem 0; font-size: .36rem; font-weight: 600; text-align: center; }
.Mlist1 li p { }
.fff { color: #ffffff !important; }
.pall { padding: .2rem; }
.pl { padding-left: .2rem; }
.pr { padding-right: .2rem; }
.pt { padding-top: .2rem; }
.pb { padding-bottom: .2rem; }
.plr { padding: 0 .2rem; }
.plrt { padding: .2rem .2rem 0; }
.plrb { padding: 0 .2rem .2rem; }
.abouttab { width: 9.5rem; margin: .2rem auto; text-align: center; }
.abouttab td { padding: .005rem; }
.Mlist2 .listtxt { padding: .2rem; float: left; display: inline; width: 5rem; box-sizing: border-box; border-bottom: .02rem solid #e5e5e5; font-weight: 600; }
.Mlist2 .listtxt-tit { padding: .3rem .2rem; color: #F40C10; width: 10rem; border-bottom: .02rem solid #e5e5e5; border-top: .02rem solid #e5e5e5; box-sizing: border-box; font-weight: 600; }
.Mlist2 .listtxt-list { padding: .35rem .2rem; }
.footer { padding: .35rem .2rem; margin-top: .2rem; background: #333333; }
.logotit { font-size: .45rem; margin: .21rem 0 0 .2rem; color: #ffffff; }
.headmenu { padding: .12rem; background: #E73C3E; font-size: .3rem; color: #FCDBDC; }
.topdown { background: url("../images/down.png") no-repeat; background-size: auto 100%; width: 1.62rem; height: .4rem; display: block; margin: .18rem 0 0 .12rem; }
.topreg { background: url("../images/down_reg.png") no-repeat; background-size: auto 100%; width: 1.62rem; height: .4rem; display: block; margin: .18rem 0 0 .12rem; }
.Mlist2 .listtxt-tit-l { padding: .3rem .2rem; color: #000000; width: 10rem; border-bottom: .02rem solid #e5e5e5; border-top: .02rem solid #e5e5e5; box-sizing: border-box; font-size: .38rem; font-weight: 600; }
.Mlist2 .listtxt-list-l { padding: .35rem .2rem; }
p.Mlists { padding-left: .35rem; background: url("../images/arrright-heise.png") 0 0.17rem no-repeat; background-size: .25rem auto; margin: .16rem 0; }
.fdnav { position: fixed; top: 0; left: 0; z-index: 100; width: 100%; }
.triangle-down { width: 0; height: 0; border-left: .15rem solid transparent; border-right: .15rem solid transparent; position: absolute; bottom: -0.1rem; border-top: .2rem solid #d10608; left: 50%; margin-left: -.17rem; z-index: 105; }
.triangle-up { width: 0; height: 0; border-left: .1rem solid transparent; border-right: .1rem solid transparent; border-bottom: .2rem solid #d10608; position: absolute; left: .2rem; top: .34rem; }
.regbdsm { text-indent: .32rem; }
.lxwmlist { width: 7.2rem; margin-left: .2rem; height: 2rem; }
.lxwmlist .tit { font-size: .45rem; line-height: 1.1rem; font-weight: 800; color: #000; }
.lxwmlist .ctit { font-size: .4rem; line-height: 1rem; }
.icons-list { display: block; width: 2rem; height: 2.1rem; }
.icons-list-qq { background: url("../images/qq.png") center no-repeat; background-size: 1.6rem auto; }
.icons-list-mail { background: url("../images/weixin.png") center no-repeat; background-size: 1.6rem auto; }
.icons-list-skype { background: url("../images/skype.png") center no-repeat; background-size: 1.6rem auto; }
.lxewm { width: 2rem; height: 2rem; border: .02rem solid #eeeeee; position: absolute; right: .2rem; top: .25rem; z-index: 100; }
.linput { transition: 0.4s linear; width: 100%; height: 1rem; padding-left: .2rem; padding-right: .2rem; color: #666666; font-size: .35rem; border: .02rem solid #eeeeee; background: #ffffff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: .08rem; -webkit-border-radius: .08rem; -moz-border-radius: .08rem; outline: none; line-height: 1rem; }
.linput:focus { background: #f5f5f5; border: .02px solid #dddddd; }
.checked { width: .38rem; height: .38rem; vertical-align: middle; margin-right: .1rem; }
.regsm { font-size: .3rem; color: #666666; }
a.Mregbut { display: inline-block; width: 9.6rem; text-align: center; padding: 0; background: #e52522; color: #ffffff; border: .02px solid #e52522; border-radius: .08rem; font-size: .4rem; height: 1rem; line-height: 1rem; }
.List_header { height: 1rem; padding: 0 .2rem; position: relative; background: #e52522; }
.List_header .fanhuisy { width: .5rem; height: .5rem; display: block; margin-top: .25rem; background: url("../images/arrleft.png") no-repeat center; background-size: auto .4rem; }
.List_header .zctit { width: 4rem; height: .5rem; display: block; font-size: .45rem; font-weight: 600; color: #ffffff; position: absolute; left: 50%; top: .25rem; text-align: center; line-height: .5rem; margin-left: -2rem; }
.List_header .zhucclos { width: .5rem; height: .5rem; display: block; margin-top: .25rem; background: url("../images/cols.png") no-repeat center; background-size: auto .4rem; }
.bottom-app { width: 100%; height: 1.4rem; background: rgba(0,0,0,.85); ; position: fixed; left: 0; bottom: -.04rem; z-index: 100; padding: 0 .2rem; box-sizing: border-box; }
.bottom-app .bappdomtit { margin: .28rem 0 0 .25rem; margin-top: .38rem; display: block; height: .6rem; line-height: .6rem; }
.bottom-app .appico { width: 1rem; height: 1rem; margin-left: 0; margin-top: .18rem; background: url("../images/Icon-128.png") no-repeat center; background-size: auto 100%; }
.bappdom { background: #e52522; border-radius: .08rem; padding: 0 .35rem; margin-top: .34rem; display: block; height: .7rem; line-height: .7rem; color: #ffffff; }
.footerxfm { padding-bottom: 1.7rem; }
.Myzm img { display: block; width: auto; height: .5rem; position: absolute; top: .45rem; right: .4rem; }
.Mipnw input.user, .Mipnw input.pass, .Mipnw input.user:focus, .Mipnw input.pass:focus { padding-left: .9rem; }
.Mipnw input.user { background: url("../images/login_inp.png") no-repeat; background-size: .5rem; background-position: .2rem center; }
.Mipnw input.pass { background: url("../images/pass.png") no-repeat; background-size: .5rem; background-position: .2rem center; }
.Mipnw input.user:focus { background: url("../images/login_inp.png") no-repeat; background-size: .5rem; background-position: .2rem center; }
.Mipnw input.pass:focus { background: url("../images/pass.png") no-repeat; background-size: .5rem; background-position: .2rem center; }
.txtScroll-top { overflow: hidden; width: 100%; height: auto; overflow: hidden; background: rgba(230,23,27,.85); border: .02rem solid #9c1c1e; color: #F9D5D6; box-sizing: border-box; }
.txtScroll-top .tits { width: 100%; height: 1rem; line-height: 1rem; font-size: .45rem; font-weight: 700; text-align: center; color: #ffffff; border-bottom: .02rem solid #ba0608; background: #d10608; }
.txtScroll-top .tdlsum { width: 100%; height: 1rem; padding: 0 .1rem; box-sizing: border-box; line-height: 1rem; font-family: '寰蒋闆呴粦'; text-align: center; border-top: .02rem solid rgba(243,116,118,.3); color: #ffffff; font-size: .4rem; }
.txtScroll-top .tdlsum-b { width: 100%; height: 1rem; padding: 0 .1rem; box-sizing: border-box; line-height: 1rem; font-family: '寰蒋闆呴粦'; text-align: center; border-top: .02rem solid rgba(243,116,118,.3); background: rgba(255,209,0,.7); color: #ffffff; font-size: .4rem; }
.txtScroll-top .tdlsum-b img { }
.txtScroll-top .bd { }
.txtScroll-top .bd .tempWrap { height: 6.12rem !important; }
.txtScroll-top .infoList li { height: 1rem; line-height: 1rem; border-bottom: .02rem solid rgba(243,116,118,.3); padding: 0 .1rem; }
.txtScroll-top .infoList li .date { float: right; color: #999; }
.phuserid { width: 28%; height: 1rem; display: inline-block; overflow: hidden; }
.txtScroll-top .infoList li .phusersum, .txtScroll-top .Scrollth span.phusersum { width: 10%; height: 1rem; display: inline-block; overflow: hidden; color: #ffffff; }
.txtScroll-top .no1 { background-image: url("../images/no1.png"); background-repeat: no-repeat; background-size: auto 80%; background-position: 0px center; }
.txtScroll-top .no2 { background-image: url("../images/no2.png"); background-repeat: no-repeat; background-size: auto 80%; background-position: 0px center; }
.txtScroll-top .no3 { background-image: url("../images/no3.png"); background-repeat: no-repeat; background-size: auto 80%; background-position: 0px center; }
.txtScroll-top .noall .noalls { display: block; width: .5rem; height: .5rem; text-align: center; line-height: .5rem; border-radius: 50%; background: #fb9900; color: #fff; margin: .25rem 0 0 .16rem; font-size: .3rem; }
.txtScroll-top .ioc-id:before { background: url("../images/login.png") no-repeat; background-size: 16px 16px; margin-top: 13px; width: 16px; height: 16px; }
.txtScroll-top .ioc-ifandian:before { background: url("../images/ifandian.png") no-repeat; background-size: 16px 16px; margin-top: 13px; width: 16px; height: 16px; }
.txtScroll-top .ioc-iyitixian:before { background: url("../images/iyitixian.png") no-repeat; background-size: auto 1.4rem; margin-top: -.23rem; margin-right: 0px !important; width: 100%; height: 1rem; }
.txtScroll-top .ifengexian { width: .04rem; height: .4rem; position: absolute; right: .09rem; top: .3rem; display: block; background: rgba(243,116,118,.7); }
.txtScroll-top .Scrollth { height: 1rem; line-height: 1rem; border-bottom: .02rem solid rgba(243,116,118,.3); padding: 0 .1rem; }
.phusercas, .phusercas-2, .phuserid, .phusersum { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.phusercas, .phuserid, .phusersum { padding-right: 11px; }
.phusercas { width: 34%; height: 1rem; display: inline-block; overflow: hidden; font-weight: 800; color: #FFF500; }
.phusercas-2 { width: 17%; height: 1rem; display: inline-block; overflow: hidden; }
.blo { font-weight: 800; padding: 0 .2rem; background: #ffffff; display: inline-block; height: .66rem; line-height: .66rem; color: #F5DF0F; border-radius: .1rem; margin: 0 .1rem; font-size: .35rem; }
.blo img { width: auto; height: .45rem; }